<h1><%= motorcycle.cycle_name %></h1>
<p>イメージ写真</p>
<%- motorcycle.cycle_picture %>

<form action="/motorcycle/delete/<%= motorcycle.cycle_id %>" method="post">
	<input type="hidden" name="id" value="<%= motorcycle.cycle_id %>" />
	<button type="submit">Delete motorcycle</button>
</form>
